/* // dark theme // */

.cosIcon {
    all: unset;
    padding: 2px;
    border-radius: 50px;
    border: none;
    background-color: transparent;
}

.timeCapsule {
    padding: 10px;
    background-color: rgb(34, 34, 34);
    border: 2px solid transparent;
    background-image: linear-gradient(rgb(29, 29, 29), rgb(29, 29, 29)),
                        linear-gradient(0deg, rgb(9, 9, 9), rgba(94, 94, 94, 0.686));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 50px;
    /* box-shadow:  inset 0px -5px 20px rgba(255, 255, 255, 0.239); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.tNa {
    all: unset;
    padding: 0 20px 0 20px; 
    background-color: rgb(43, 43, 43);
    /* border: 2px solid transparent;
    background-image: linear-gradient(rgb(43, 43, 43), rgb(43, 43, 43)), 
                        linear-gradient(0deg, black, rgba(110, 110, 110, 0.33));
    background-origin: border-box;
    background-clip: padding-box, border-box; */
    border-radius: 50px;
    color: rgb(212, 212, 212);
    font-family: Cantarell;
    font-size: 26px;
    /* font-style: italic; */
    font-weight: 500;
}

.ampm {
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
}
