/* dark theme */

label.time {
    font-size: 16px;
    font-weight: 900;
    color:rgba(255, 255, 255, 0.83);
}

label.date {
    font-size: 12px;
    color:rgba(255, 255, 255, 0.75);
    font-weight: 600;
}

window {
    background-color: rgba(20, 20, 20, 0);
}

#timecapsule {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0.5px solid rgba(255, 255, 255, 0.12);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
}

.qlbar {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 5px;
    border: 0.5px solid rgba(255, 255, 255, 0.12);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 7px;
}

button.qlicons {
    all: unset;
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(49, 49, 49, 0);
    transition: background-color 0.2s ease, transform 0.2s ease;
    transform: scale(1.0);
}

button.qlicons:hover {
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    transform: scale(1.5);
}

button.cos {
    all: unset;
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(49, 49, 49, 0);
    transition: transform 0.2s ease;
    transform: scale(1.0);
}

button.cos:hover {
    transform: scale(1.1);
}

button.statusicon {
    all: unset;
    padding: 10px;
    background-color: rgba(49, 49, 49, 0);
    transition: color 0.2s ease;
    color: rgb(197, 197, 197);
}

button.statusicon:hover {
    color: rgb(255, 255, 255);
}

#cynbar {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.12);
    box-shadow: rgba(92, 91, 91, 0.11) 3px 3px 6px 0px inset,rgba(202, 214, 224, 0.116)  -3px -3px 6px 1px inset;
}

#noticapsule {
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    padding: 5px;
    border: 0.5px solid rgba(255, 255, 255, 0.12);
    box-shadow: rgba(92, 91, 91, 0.11) 3px 3px 6px 0px inset,rgba(202, 214, 224, 0.116)  -3px -3px 6px 1px inset;
}

#notivlabel {
    font-size: 12px;
    font-weight: 300;
    color:rgba(255, 255, 255, 0.83);
}

#notivbox {
    padding-top: 10px;
}

#volumelevel.muted {
    background-color: crimson;
    opacity: 0.6;
}

#volumelevel.blight trough block.filled {
    background-color: rgba(255, 199, 69, 0.56);
}

#volumelevel.vol trough block.filled {
    background-color: rgba(255, 255, 255, 0.81);
}


